/* :root {
  --color-primary1:
} */

@font-face {
  font-family: Cabin;
  src: url("./assets/fonts/Cabin.woff2") format("woff2");
  src: url("./assets/fonts/Cabin.woff") format("woff");
  src: url("./assets/fonts/Cabin.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: Cabin, sans-serif;
  background-color: #ffe9f4;
}

#app {
  min-width: 320px;
}

/* Header styles */

.header {
  min-height: 100vh;
  background:
    linear-gradient(181.18deg, #190032 1.01%, rgb(69 2 62 / 61.8%) 48.45%, rgb(124 0 81 / 20%) 100.44%),
    url("./assets/images/backgroundMobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-blend-mode: darken;

  & .title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 2.6rem;
    text-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
    backdrop-filter: blur(20px);
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
  }

  & .ship-vector {
    position: absolute;
    bottom: 2%;
    left: calc(50% - 24px);
    animation: jump 1s ease-in-out infinite alternate;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.content {
  margin-top: 30px;
}

/* scroll-nav styles */
.scroll-nav {
  /* background-color: papayawhip; */
}

/* styles for the main where teh cards are */

.main {
  display: flex;
  width: 100%;
  min-height: 200vh;
  position: relative;
  overflow: hidden;
}

.cards-section {
  margin-top: 80px;
  width: 100%;
  position: absolute;
  transition: all 250ms ease-in-out;

  & .cards-section-title {
    padding: 15px 10px;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #f36399;
  }
}

.cards-section:nth-child(1) {
  transform: translateX(0);
}

.cards-section:nth-child(2) {
  transform: translateX(100%);
}

.cards-section:nth-child(3) {
  transform: translateX(200%);
}

.cards-wrapper {
  margin: 30px 0;
}
